:root {
  --sl-color-accent: #fbbf24;
  --sl-color-accent-high: #f59e0b;
  --sl-color-accent-low: #fef3c7;
}
h2{
  color: #f59e0b;
}
h3 {
  border-bottom: 2px solid var(--sl-color-accent);
  padding-bottom: 0.3rem;
}
